
body {
  background-color: #005a24;
  font-family: "Poppins", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: rgb(255, 240, 221);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 320px;
  text-align: center;
}

h1 {
  color: #222;
  margin-bottom: 1rem;
}

.error {
  color: #e63946;
  font-size: 0.95rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.success {
  color: #2a9d8f;
  font-size: 0.95rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

form {
  display: flex;
  justify-content: center;
  gap: 8px;
}

input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: 0.2s;
}

input[type="text"]:focus {
  border-color: #e0d100;
  box-shadow: 0 0 4px #000000b4;
}

button {
  background-color: #e7e300;
  color: rgb(0, 0, 0);
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #dacb00;
  transform: scale(1.05);
}

label {
  font-weight: bold;
  font-size: 18px;
  color: #333;
  font-family: "Poppins", sans-serif;
  margin-right: 8px;   
}

.form-group {
  display: flex;
  align-items: center;
  gap: 6px;
}

.sorteio {
  background: rgb(255, 240, 221);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 320px;
  align-items: center;
}

.logo {
  width: 395px;
  height: auto;
  margin: auto;
  justify-content: 50px;
  position: absolute;
  top: 20px;
  right: auto
}

#listaVencedores li {
  font-size: 20px;
  color: #000000;
  list-style: none;
}

#listaVencedores {
  padding: unset;
  text-align: center;
  font-weight: bold;
}